@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navigation">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="navigation-items">
            <a class="" asp-area="" asp-controller="Grades" asp-action="Index">Grades</a>
        </li>
        <li class="navigation-items">
            <a class="" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
        </li>
        <li class="navigation-items">
            <a class="" asp-area="" asp-controller="Subjects" asp-action="Index">Subjects</a>
        </li>
    }
</ul>
